* {
    /* resetleme */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Raleway", sans-serif;
  }
  
  form {
    background-color: antiquewhite;
    width: fit-content;
    margin: 20px auto;
    padding: 30px;
  }
  /** label inline elementtir. Dolayısıyla width property si dogrudan calismaz */
  label {
    display: inline-block;
    width: 100px;
  }
  
  .lang-div,
  .gender-div {
    display: inline-block;
  }
  
  .lang-div label,
  .gender-div label {
    width: auto;
  }
  